CREATE DATABASE facturacion_db
GO
USE facturacion_db
GO

CREATE TABLE articulos(
	id_articulo int IDENTITY(1,1) NOT NULL,
	articulo varchar(255) NOT NULL,
	precio money NOT NULL
 CONSTRAINT pk_id_articulo PRIMARY KEY (id_articulo) 
)

SET IDENTITY_INSERT articulos ON
INSERT articulos (id_articulo, articulo, precio) VALUES (1, N'lapicera', 110)
INSERT articulos (id_articulo, articulo, precio) VALUES (2, N'goma', 50)
INSERT articulos (id_articulo, articulo, precio) VALUES (3, N'lapiz', 100)
SET IDENTITY_INSERT articulos OFF

CREATE TABLE formas_pago(
	id_forma_pago int IDENTITY(1,1) NOT NULL,
	forma_pago varchar(255) NOT NULL,
 CONSTRAINT pk_id_forma_pago PRIMARY KEY (	id_forma_pago )
) 

SET IDENTITY_INSERT formas_pago ON
INSERT formas_pago (id_forma_pago, forma_pago) VALUES (1, N'efectivo')
INSERT formas_pago (id_forma_pago, forma_pago) VALUES (2, N'tarjeta')
INSERT formas_pago (id_forma_pago, forma_pago) VALUES (3, N'transferencia')
SET IDENTITY_INSERT formas_pago OFF

CREATE TABLE facturas(
	factura_nro int IDENTITY(1,1) NOT NULL,
	fecha datetime NOT NULL,
	id_forma_pago int  NOT NULL,
	cliente varchar(255) NOT NULL,
	activa bit NOT NULL
	CONSTRAINT pk_factura_nro PRIMARY KEY (	factura_nro ),
	CONSTRAINT fk_factura_forma_pago foreign KEY (	id_forma_pago )
	references formas_pago (id_forma_pago)
) 

SET IDENTITY_INSERT facturas ON
INSERT facturas (factura_nro, fecha, id_forma_pago, cliente, activa) VALUES (1, '2/07/2022', 3, 'Pablo Londra',1 )
INSERT facturas (factura_nro, fecha, id_forma_pago, cliente, activa) VALUES (2, '5/03/2022', 2, 'Javier Milei',1 )
INSERT facturas (factura_nro, fecha, id_forma_pago, cliente, activa) VALUES (3, '12/11/2022', 1, 'Lucas Castel',1 )
SET IDENTITY_INSERT facturas OFF

CREATE TABLE detalles_factura(
	id_detalle int identity(1,1),
	factura_nro int NOT NULL,
	id_articulo int NOT NULL,
	cantidad int NOT NULL,
	CONSTRAINT pk_id_detalle PRIMARY KEY (	id_detalle),
	CONSTRAINT fk_detalle_factura foreign KEY (	factura_nro )
	references facturas (factura_nro),
	CONSTRAINT fk_detalle_articulo foreign KEY (	id_articulo )
	references articulos (id_articulo)
) 

SET IDENTITY_INSERT detalles_factura ON
INSERT detalles_factura (id_detalle, factura_nro, id_articulo, cantidad) VALUES (1, 1, 1, 5)
INSERT detalles_factura (id_detalle, factura_nro, id_articulo, cantidad) VALUES (2, 2, 3, 60)
INSERT detalles_factura (id_detalle, factura_nro, id_articulo, cantidad) VALUES (3, 2, 3, 30)
SET IDENTITY_INSERT detalles_factura OFF
go

CREATE PROCEDURE SP_CONSULTAR_ARTICULOS
AS
BEGIN
	
	SELECT * from articulos;
END
GO

CREATE PROCEDURE SP_CONSULTAR_FORMAS_PAGO
AS
BEGIN
	
	SELECT * from formas_pago;
END
GO

CREATE PROCEDURE SP_PROXIMO_ID
@next int OUTPUT
AS
BEGIN
	SET @next = (SELECT MAX(facturas.factura_nro)+1  FROM facturas);
END
GO


create PROCEDURE SP_INSERTAR_MAESTRO
	@forma_pago int, 
	@fecha datetime, 
	@cliente varchar(255), 
	@factura_nro int OUTPUT
AS
BEGIN
	INSERT INTO facturas(fecha,id_forma_pago, cliente)
    VALUES (@fecha, @forma_pago, @cliente);
    
    SET @factura_nro = SCOPE_IDENTITY();

END
GO


create PROCEDURE SP_INSERTAR_DETALLE
	@factura_nro int,
	@id_articulo int, 
	@cantidad int
AS
BEGIN
	INSERT INTO detalles_factura(factura_nro, id_articulo, cantidad)
    VALUES (@factura_nro, @id_articulo, @cantidad);
  
END
GO

CREATE PROCEDURE SP_CONSULTAR_MAESTRO
AS
BEGIN
	
	SELECT factura_nro,fecha,forma_pago,cliente from facturas 
	join formas_pago on facturas.id_forma_pago = formas_pago.id_forma_pago
	where activa = 1;
END
GO

CREATE PROCEDURE SP_CONSULTAR_DETALLE
	@factura_nro int
AS
BEGIN
	
	SELECT factura_nro, id_articulo, cantidad from detalle_factura 
	join formas_pago on facturas.id_forma_pago = formas_pago.id_forma_pago
	where factura_nro = @factura_nro;
END
GO

CREATE PROCEDURE SP_DESACTIVAR_MAESTRO
@factura_nro int
AS
BEGIN
	update facturas
	set activa = 1
	where @factura_nro = @factura_nro;
END
GO


CREATE PROCEDURE SP_MODIFICAR_MAESTRO
@factura_nro int
AS
BEGIN
	update facturas
	set activa = 1
	where @factura_nro = @factura_nro;
END
GO
